<div class="row">
  <%= simple_form_for @rolled_task do |t| %>
  <div class="col-md-6">
  <%= t.input :task_due, placeholder: @task.task_due_roll %> 
  <%= t.button :submit, class: "btn-primary" %>
  </div>
</div>


<% end %>