<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-10">
    <h2>Clients</h2>
  </div>
  
    <%= link_to "New Client", new_client_path, class: "btn btn-primary" %>
  
</div>

  <div class="well-trans">
    <table class="table">
      <tr>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.client_name %></td>
            <td><%= client.business_name %></td>
            <td><%= client.business_type %></td>
          </tr>
        <% end %>
    </table>
  </div>    
