<div class="row">
  <h2>Clients</h2>
   _new_client_form.html.erb
</div>
<div class="row">
  <div class="well-trans">
    <table class="table">
      <tr>
        <td>Darth Vader</td>
        <td>Vader Enterprises</td>
        <td>Payroll Run</td>
        <td>08.12.16</td>
      </td>
    </table>
  </div>    
</div>